[alias]
	loa = log --oneline --all
	loaf = log --oneline --all -15
	sts = status -sb
	st = status
	co = checkout
	br = branch
	ci = commit
	loag = log --oneline --all --graph
	loafg = log --oneline --all --graph -15
	last = log -1 HEAD --stat
  hist = log --pretty=format:\"%C(auto)%h %C(cyan)%cd %C(green)%an <%ae>%Creset %s%C(auto)%d%Creset\" --date=relative
	empty = commit --allow-empty
[user]
	email = tm10ymhp@protonmail.com
	name = tm10ymhp
[core]
	editor = nvim
